.container {
    max-width:1400px;
    margin:auto;
    padding:2% 5%;

    header {
        h1 {
            text-align:center;

            a {
                color:black;
            }
        }
    }
}